@model NCCFOhaukwu.Web.Models.SermonModel

@{
    ViewBag.Title = "Edit Sermon";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>Edit Sermon</h2>

<div class="col-md-8">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "input-lg", data_validation = "required", data_validation_error_msg = "The title field is required" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Scriptures, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Scriptures, new { htmlAttributes = new { @class = "input-lg", data_validation = "required", data_validation_error_msg = "The scripture field is required" } })
                    @Html.ValidationMessageFor(model => model.Scriptures, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "input-lg" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "input-lg", data_validation = "required", data_validation_error_msg = "The date field is required" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="">
                    <input type="submit" value="Update Sermon" class="btn btn-mod" />
                </div>
            </div>

            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to Sermons</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
