@using System.Text.RegularExpressions
@using PagedList.Mvc
@model PagedList.IPagedList<DAL.News>

@{
    ViewBag.Title = ViewBag.authorname + ", Author at NCCF Ohaukwu";
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}


<span class="container">Author Archives: "@ViewBag.authorname"</span>
@foreach (var news in Model)
{
    <div class="general-news">
        <span class="">@news.Title</span>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="@Url.Action("CorpMember", "WhoWeAre", new { id = @news.Author.Id })"><i class="fa fa-user"></i>&nbsp;&nbsp;About Author</a>
            </div>
            <div class="col-xs-6 col-md-9">
                <a href="@Url.Action("News", "News")"><i class="fa fa-folder-open-o"></i>&nbsp;&nbsp;News</a>
            </div>
        </div><br/>
        <p>
            posted on <strong>@news.DateCreated.ToString("D")</strong>
        </p>
        <hr/>
        @if (news.Photo != null)
        {
            <div class="row">
                <div class="container-fluid">
                    <img src="~/Images/NewsPhoto/@news.Id" class="img-responsive"/>
                </div>
            </div>
        }
        @{
            var thenews = Regex.Replace(news.TheNews, "<.*?>", string.Empty);
            thenews = (thenews.Length >= 300) ? thenews.Substring(0, 300) : thenews;
        }
        <span>@thenews ...</span>

        <a class="btn btn-mod" href="@Url.Action("SingleNews", "News", new {id = news.Id, title = news.Title.Replace(" ", "-").ToLower()})">Continue Reading</a>

    </div>
}

@Html.PagedListPager(Model, page => Url.Action("AuthorNews", "Author", new {page}),
    new PagedListRenderOptions {Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 10})