@model NCCFOhaukwu.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>Change Password</h2>
<div class="col-md-6">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
            <div class="">
                @Html.PasswordFor(m => m.OldPassword, new {@class = "input-lg", data_validation = "length", data_validation_length = "min6", data_validation_error_msg = "password must not be less than 6 characters"})
                @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
            <div class="">
                @Html.PasswordFor(m => m.NewPassword, new {@class = "input-lg", data_validation = "length", data_validation_length = "min6", data_validation_error_msg = "password must not be less than 6 characters"})
                @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-lg", data_validation = "confirmation", data_validation_error_msg = "passwords do not match", data_validation_confirm = "NewPassword"})
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Change Password" class="btn btn-mod"/>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}