@model NCCFOhaukwu.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>Reset Password</h2>

<div class="col-md-6">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Code)

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new {@class = "control-label"})
            <div class="">
                @Html.TextBoxFor(m => m.Email, new {@class = "input-lg", data_validation = "email required", data_validation_error_msg = "The email field is required and is not valid"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "control-label"})
            <div class="">
                @Html.PasswordFor(m => m.Password, new {@class = "input-lg", data_validation = "length", data_validation_length = "min6", data_validation_error_msg = "password must not be less than 6 characters"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "input-lg", data_validation = "confirmation", data_validation_error_msg = "passwords do not match", data_validation_confirm = "Password"})
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Reset" class="btn btn-mod"/>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}