@model DAL.Event
@{
    ViewBag.Title = @Model.title;
    Layout = "~/Views/Shared/_EventLayout.cshtml";
}


<div class="">
    <span>@Model.title</span>
    <div class="container-fluid form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Date:</label>
            <div class="col-md-10">
                <span class="singleevent">@Model.start.ToString("D")</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Time:</label>
            <div class="col-md-10">
                <span class="singleevent">@Model.StartTime - @Model.EndTime</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Venue:</label>
            <div class="col-md-10">
                <span class="singleevent">@Model.Venue</span>
                <span class="singleevent">@Model.VenueAddress</span>
            </div>
        </div>
    </div><br />
    <span class="" style="">@Html.Raw(Model.Description)</span>
</div>


@*<div class="container-fluid news-layout">
<div class="row">
    <div class="col-md-7 news">
        <div class="general-news">
            <span>@Model.title</span>
            <div class="row form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Date:</label>
                    <div class="col-md-10">
                        <span class="singleevent">@Model.start.ToString("D")</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Time:</label>
                    <div class="col-md-10">
                        <span class="singleevent">@Model.StartTime - @Model.EndTime</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Venue:</label>
                    <div class="col-md-10">
                        <span class="singleevent">@Model.Venue</span>
                        <span class="singleevent">@Model.VenueAddress</span>
                    </div>
                </div>
            </div><br/>
            <span class="" style="">@Html.Raw(Model.Description)</span>
        </div>
    </div>
</div>
    </div>*@
