@using PagedList.Mvc
@model PagedList.IPagedList<DAL.Batch>

@{
    ViewBag.Title = "Batches";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>Batches</h2>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            @Html.ActionLink("Add New Batch", "Create", null, new {@class = "btn btn-primary"})
        </div>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Index", "Batch", FormMethod.Get))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="" style="">
                        <div class="col-xs-8 zero-padding">
                            <input name="search" id="search" type="text" class="input-lg" value="@ViewBag.search"/>
                        </div>
                        <div class="col-xs-4 zero-padding">
                            <input type="submit" value="Search" class="btn btn-primary btn-search"/>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Year.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().BatchName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", "Batch", new {page, search = Request["search"]}),
    new PagedListRenderOptions {Display = PagedListDisplayMode.IfNeeded, MaximumPageNumbersToDisplay = 10})